<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager API</title>
    <link rel="stylesheet" href="/css/style.css">
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  </head>
  <body>

    <header class="bg-image">
      <div class="container">
        <h1>Welcome to Task Manager API</h1>
        <h2>Task Manager API is a serverside application that helps users to keep track of their tasks from creation to completion.</h2>
        <a href="https://documenter.getpostman.com/view/25672365/2s93CSnW67" class="btn btn-transparent">View Documentation</a>
      </div>
    </header>

    <footer>
      <div class="container">
        <ul>
          <li><a href="https://www.linkedin.com/in/ridwan-raji-133693119/"><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a href="https://github.com/ridwanrajik"><i class="fa-brands fa-github"></i></a></li>
          <li><a href="https://twitter.com/RidwanRaji_K"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="mailto:ridwanraji4@gmail.com"><i class="fa-regular fa-envelope"></i></a></li>
        </ul>
        <p>&copy; Ridwan Raji. All rights reserved.</p>
      </div>
    </footer>

  </body>
</html>